<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <%= partial :menu_crumb %>
      <li>
        管理メニュー
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3>管理メニュー</h3>
    <ul class="nav nav-tabs nav-stacked">
      <li><a href="<%= url_for(:a, :backup) %>">データバックアップ</a></li>
    </ul>
  </div>
</div>
