<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="<%= app_path %>/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <title>ROGv - Forts Watching System</title>
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
    <!--
    <script src="<%= app_path %>/js/jquery-1.7.1.min.js"></script>
    <script src="<%= app_path %>/js/bootstrap.min.js"></script>
    -->
  </body>
</html>
