<div style="width: 500px; margin: auto;">
  <ul class="unstyled">
    <li>Server's Source Code : <a href="https://github.com/parrot-studio/rogv_server">https://github.com/parrot-studio/rogv_server</a></li>
    <li>Client's Source Code : <a href="https://github.com/parrot-studio/rogv_client">https://github.com/parrot-studio/rogv_client</a></li>
    <li>RO's Blog : <a href="http://parrot.blog21.fc2.com/">http://parrot.blog21.fc2.com/</a></li>
  </ul>
</div>
