<div class="row">
  <div class="span12">
    <div class="alert alert-error">
      <p>
        <strong>Page Not Found</strong>
      </p>
      <p>
        <a href="<%= url_for(:index) %>">Top</a>
      </p>
    </div>
  </div>
</div>
